.wrapper {
    height: 100%;
    width: var(--navbar-width);
    position: fixed;
    background-color: var(--background-color);
    z-index: 100;
}

.nav-container {
    width: var(--navbar-width);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-list {
    display: flex;
    flex-direction: column;
    width: var(--navbar-width);
    align-items: center;
    height: 350px;
    justify-content: space-between;
}

.nav-item {
    color: var(--text-color);
    opacity: 0.7;
    font-size: 2.2rem;

    &:hover,
    &:active {
        opacity: 1;
    }
}
