.wrapper {
    height: 100%;
    width: var(--navbar-width);
    position: fixed;
    background-color: var(--background-color);
    z-index: 100;
}

.nav-container {
    width: var(--navbar-width);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-list {
    display: flex;
    flex-direction: column;
    width: var(--navbar-width);
    align-items: center;
    height: 350px;
    justify-content: space-between;
}

.nav-item {
    margin-top: 3px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--navbar-item-height);
    height: var(--navbar-item-height);
    padding: 15px 20px;
    opacity: 0.5;
    font-size: 2.2rem;
    border-radius: 50%;
    transition: transform 0.5s ease, opacity 0.5s ease, box-shadow 0.5s ease;
    transform-style: preserve-3d;

    &:hover {
        opacity: 1;
        background-color: rgba(#fff, 0.2);
        transform: translateX(10px) scale(1.1);
        box-shadow: -10px 10px 20px rgba(255, 255, 255, 0.2);
    }
}

.nav-item.active {
    opacity: 1;
    background-color: rgba(#fff, 0.2);
}

.nav-item.moving {
    transform: translate(calc(50vw - (var(--content-width) / 2)), calc(-1 * (50vh - 130px - 3 * var(--title-height))));
    font-size: 1.5rem;
    background-color: var(--background-color);
}
